<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h5>Hi Sean, a client has reached out with the following information</h5>
<p>
  Contact Phone: <%= @contact.phone %> <br>
  Issue Details: <%= @details %>
</p>
</body>
</html>